working_directory "{{ release_path }}"
pid "/tmp/unicorn.pid"
stderr_path "{{ release_path }}/log/unicorn_err.log"
stdout_path "{{ release_path }}/log/unicorn.log"

listen "/tmp/unicorn.sock"
worker_processes 2
timeout 30
